main {
  position: absolute;
}

.black-jack {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
th,
td,
tr {
  font-weight: bold;
  border: 1px solid black;
  width: 60px;
  padding: 10px 0;
}
/* tr {
  border: 1px solid black;
} */
.black-jack__table tr th:first-child {
  padding: 10px 20px;
}
.black-jack__sum {
  margin-left: 60px;
  width: 122px;
}
.black-jack {
  display: flex;
}
.black-jack-nav {
  display: flex;
  align-items: center;
}
.black-jack-nav__result-text {
  margin-left: 10px;
  font-weight: 600;
}
.black-jack-score strong {
  font-weight: bold;
}
.black-jack__description th,
.black-jack__description tr {
  border: none;
}
.black-jack__description th {
  width: 121px;
  height: 41px;
  box-sizing: border-box;
  text-align: start;
  padding-left: 10px;
}
