/* .our-introduce { */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.footer__row {
  margin-top: 20px;
}
.footer__row:last-child {
  display: flex;
}
.footer__row:last-child > div {
  margin-left: 20px;
}
